.wrapper {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
}

.label {
  // display: block;
  color: #333333;
  margin-bottom: 10px;
}

.input {
  color: #1a1a1a;
  font-size: 20px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.error {
  position: absolute;
  bottom: 0;
  color: #ff0000;
  margin-top: 5px;
  bottom: 0;
}
