@import '../../styles/variables.scss';

.hint {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  transition: opacity 0.3s ease;

  &.hidden {
    display: none;
  }
}

.text {
  font-size: 1.1rem;
  color: $c-text;
  text-align: center;
}
