.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.source,
.result {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.result {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.checkBtn,
.continueBtn {
  width: 150px;
}
